extends layout

block content
    div(class="container")
        h1= title
        div(id="about-text")
            div(class="col-sm-5")
                h4= whoarewe
                p= whotext
                h4= whatwedo
                p= whattext
        iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1iWMAwk7BnwvBgByr4V41lO7pgjbcpE4z" width="400" height="300")