doctype html
html(lang='et')
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    script(src="https://code.jquery.com/jquery-3.3.1.js", integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="../scripts/index.js")
    script(src='../scripts/index_graphing.js')
  body
    div(id="pealkiri", class="jumbotron")
      h1 Joogisõber
    nav(id="drinkNav" class="navbar navbar-default")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/") #{__("mainpage")}
        div(class="collapse navbar-collapse" id="navbar")
          ul(class="nav navbar-nav")
              li(class="nav-item")
                  a(href="/lang" class="nav-link") #{__("changelang")}
              li(class="nav-item")
                  a(href="#" class="nav-link") #{__("settings")}
              li(class="nav-item")
                  a(href="about" class="nav-link") #{__("about")}
              li(class="nav-item")
                  a(href="logout" class="nav-link") #{__("logout")}
    div(class="wrapper")
      block content